# Fond de carte (optionnel). Modèles d'URL de tuiles raster avec {z}/{x}/{y}.
# Par défaut : Stadia Maps (gratuit, sans clé en local ; enregistre ton domaine sur stadiamaps.com en prod).
# Alternative MapTiler (clé gratuite) :
#   VITE_TILES_LIGHT=https://api.maptiler.com/maps/dataviz/256/{z}/{x}/{y}@2x.png?key=TA_CLE
#   VITE_TILES_DARK=https://api.maptiler.com/maps/dataviz-dark/256/{z}/{x}/{y}@2x.png?key=TA_CLE
#   VITE_TILES_ATTRIBUTION=© MapTiler © OpenStreetMap contributors
VITE_TILES_LIGHT=
VITE_TILES_DARK=
VITE_TILES_ATTRIBUTION=
